<h1>Hello <%= @member.firstname %>, the draw has been made</h1>
<p>
  You have been matched with <%= @member.match.firstname %> <%= @member.match.lastname %>
</p>
<p>
  Why not send <%= @member.match.firstname %> an email now to arrange to meet: <%= @member.match.email %>?
</p>
<p>
  Thanks,
</p>
<p>
  The Random Coffee Team
</p>
