<!DOCTYPE html>
<html>
  <head>
    <title>Random Coffee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
        <div class="row">
          <% flash.each do |type, msg| %>
            <div class="alert alert-info col-md-10 col-md-offset-1">
              <%= msg %>
            </div>
          <% end %>
        </div>

      <%= yield %>

    </div>
  </body>
</html>
