<div class="row">
  <div class="page-header col-md-10 col-md-offset-1">
    <h1>Join Random Coffee</h1>
  </div>
</div>

<% if current_user.member %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      You've already joined the draw.
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>
        By clicking on the button below, you will be added to the Random Coffee draw. The draw takes place monthly, and you will receive a notification email the next time the draw is made.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        <%= form_for @member  do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.hidden_field :firstname, { value: current_user.firstname } %>
        <%= f.hidden_field :lastname, { value: current_user.lastname } %>
        <%= f.hidden_field :email, { value: current_user.email } %>
        <%= f.hidden_field :user_id, { value: current_user.id } %>
        <%= f.submit "Join the Random Coffee draw", class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
