<div class="row">
  <div class="page-header col-md-10 col-md-offset-1">
    <h1>Join Random Coffee</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if current_user.member %>
      You've already joined the draw.
    <% else %>
      <p>
        <%= form_for @member  do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.hidden_field :firstname, { value: current_user.firstname } %>
        <%= f.hidden_field :lastname, { value: current_user.lastname } %>
        <%= f.hidden_field :email, { value: current_user.email } %>
        <%= f.hidden_field :user_id, { value: current_user.id } %>
        <%= f.submit "Join the Random Coffee draw", class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
